extend base
block mainBlock
    section#form.section-forget
        .row
            h2 Forget Password
        .row
            form.forget-form(method='POST' action='#')
                .row.forget-field
                    .col.span-1-of-3
                        label(for='email') Email
                    .col.span-2-of-3
                        input#email(type='text' name='email' placeholder='Your Email' required='')
                .row
                    .col.span-1-of-2
                    .col.span-2-of-2
                        input(type='submit' value='Submit')
