
<nav>
  <div class="row"><a href="/#main-home"><img class="logo" src="./Omnifood Contents/logo-white.png" alt="OmniFood Logo"/></a><a href="/#main-home"><img class="logo-black" src="./Omnifood Contents/logo.png" alt="OmniFood Logo"/>
      <ul class="main-nav js--main-nav">
        <li><a href="/#feature">Food Delivery</a></li>
        <li><a href="/#steps">How it Works</a></li>
        <li><a href="/#cities">Out Cities</a></li>
        <li><a href="/signUp">Sign Up</a></li>
        <li><a href="/logIn">Login</a></li>
      </ul><a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a></a></div>
</nav>