
<div class="col span-1-of-3">
  <div class="plan-box js--wp-4">
    <div>
      <h3>Premium</h3>
      <p class="plan-price">$300 <span>/month</span></p>
      <p class="plan-price-meal">That's only 13.30$ per meal</p>
    </div>
    <div>
      <ul>
        <li><i class="ion-ios-checkmark-empty icon-small">1 meal every day</i></li>
        <li><i class="ion-ios-checkmark-empty icon-small">Order 24/7</i></li>
        <li><i class="ion-ios-checkmark-empty icon-small">Access to newest creations</i></li>
        <li><i class="ion-ios-checkmark-empty icon-small">Free Delivery</i></li>
      </ul>
    </div>
    <div><a class="btn btn-full" href="/logIn">Sign Up Now</a></div>
  </div>
</div>